# Práctica Clase 1: Fundamentos de Bases de Datos Relacionales

En este notebook realizaremos las prácticas correspondientes a la primera clase del curso, utilizando Azure Data Studio con conexión a PostgreSQL.

## Conexión a la Base de Datos

Para esta práctica, nos conectaremos al servidor PostgreSQL con los siguientes parámetros:

- **Servidor:** `192.168.0.52`
- **Puerto:** `5432`
- **Usuario:** `postgres`
- **Contraseña:** `admin`

Asegúrate de tener instalada la extensión de PostgreSQL en Azure Data Studio y de estar conectado a la base de datos antes de continuar.

## Creación de la Base de Datos `clase1_practica`

In [ ]:
CREATE DATABASE clase1_practica;

Conéctate a la base de datos `clase1_practica` para continuar con las siguientes operaciones.

## Creación de Tablas y Definición de Claves

### Tabla `estudiantes`

La tabla `estudiantes` almacena la información de los estudiantes inscritos en los cursos.

In [ ]:
CREATE TABLE estudiantes (
  estudiante_id SERIAL PRIMARY KEY,
  nombre VARCHAR(50),
  apellido VARCHAR(50),
  email VARCHAR(100)
);

### Tabla `cursos`

La tabla `cursos` contiene información sobre los cursos disponibles.

In [ ]:
CREATE TABLE cursos (
  curso_id SERIAL PRIMARY KEY,
  nombre_curso VARCHAR(100),
  descripcion TEXT
);

### Tabla `matriculas`

La tabla `matriculas` relaciona estudiantes con cursos, registrando en qué cursos está inscrito cada estudiante.

In [ ]:
CREATE TABLE matriculas (
  matricula_id SERIAL PRIMARY KEY,
  estudiante_id INTEGER REFERENCES estudiantes(estudiante_id),
  curso_id INTEGER REFERENCES cursos(curso_id),
  fecha_matricula DATE DEFAULT CURRENT_DATE
);

## Inserción de Datos

### Insertar datos en `estudiantes`

In [ ]:
INSERT INTO estudiantes (nombre, apellido, email)
VALUES
  ('Carlos', 'Pérez', 'carlos.perez@example.com'),
  ('Laura', 'Gómez', 'laura.gomez@example.com'),
  ('Miguel', 'Rodríguez', 'miguel.rodriguez@example.com');

### Insertar datos en `cursos`

In [ ]:
INSERT INTO cursos (nombre_curso, descripcion)
VALUES
  ('Introducción a PostgreSQL', 'Aprende los conceptos básicos de PostgreSQL'),
  ('SQL Avanzado', 'Profundiza en técnicas avanzadas de SQL');

### Insertar datos en `matriculas`

In [ ]:
INSERT INTO matriculas (estudiante_id, curso_id)
VALUES
  (1, 1),
  (2, 1),
  (2, 2),
  (3, 2);

## Validación de Integridad Referencial

Intentemos insertar una matrícula con un `estudiante_id` que no existe para observar cómo el sistema maneja la integridad referencial.

In [ ]:
INSERT INTO matriculas (estudiante_id, curso_id)
VALUES (99, 1);  -- Este estudiante no existe

Deberías recibir un error indicando que la clave foránea `estudiante_id` no existe en la tabla `estudiantes`, lo que demuestra la integridad referencial.

## Consultas Básicas y Relaciones

### Listar todos los estudiantes matriculados en un curso específico

In [ ]:
SELECT e.nombre, e.apellido, c.nombre_curso
FROM estudiantes e
JOIN matriculas m ON e.estudiante_id = m.estudiante_id
JOIN cursos c ON m.curso_id = c.curso_id
WHERE c.curso_id = 1;

### Contar el número de estudiantes por curso

In [ ]:
SELECT c.nombre_curso, COUNT(m.estudiante_id) AS numero_estudiantes
FROM cursos c
LEFT JOIN matriculas m ON c.curso_id = m.curso_id
GROUP BY c.nombre_curso;

### Listar cursos en los que está matriculado un estudiante específico

In [ ]:
SELECT c.nombre_curso
FROM cursos c
JOIN matriculas m ON c.curso_id = m.curso_id
JOIN estudiantes e ON m.estudiante_id = e.estudiante_id
WHERE e.nombre = 'Laura' AND e.apellido = 'Gómez';

## Actividad Adicional: Visualización de Datos

Puedes utilizar las capacidades de Azure Data Studio para visualizar los resultados de las consultas en forma de tablas o gráficos.

## Conclusiones

En esta práctica, hemos:

- Creado una base de datos y tablas en PostgreSQL.
- Definido claves primarias y foráneas para establecer relaciones.
- Insertado datos y validado la integridad referencial.
- Realizado consultas básicas para recuperar información relacionada.

Esto sienta las bases para comprender cómo funcionan las bases de datos relacionales y cómo podemos interactuar con ellas utilizando SQL.

## Próximos Pasos

Continúa explorando los datos y practica escribiendo tus propias consultas para obtener información adicional de la base de datos. ¡La práctica constante te ayudará a consolidar los conceptos aprendidos!