In [6]:
-- CREATE DATABASE curso_BD

In [7]:
CREATE TABLE empleados (
    empleado_id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    apellido VARCHAR(50),
    fecha_nacimiento DATE,
    email VARCHAR(100) UNIQUE,
    salario NUMERIC(10, 2)
);

In [8]:
CREATE TABLE departamentos (
    departamento_id SERIAL PRIMARY KEY,
    nombre_departamento VARCHAR(100),
    ubicacion VARCHAR(100)
);

In [9]:
CREATE TABLE proyectos (
    proyecto_id SERIAL PRIMARY KEY,
    nombre_proyecto VARCHAR(100),
    fecha_inicio DATE,
    fecha_fin DATE,
    presupuesto NUMERIC(15, 2)
);

In [10]:
CREATE TABLE asignaciones (
    asignacion_id SERIAL PRIMARY KEY,
    empleado_id INT REFERENCES empleados(empleado_id),
    proyecto_id INT REFERENCES proyectos(proyecto_id),
    horas_asignadas INT
);