Table empleados {
  empleado_id SERIAL [pk]
  nombre VARCHAR(50)
  apellido VARCHAR(50)
  fecha_nacimiento DATE
  email VARCHAR(100) [unique]
  salario NUMERIC(10, 2)
  departamento_id INT [ref: > departamentos.departamento_id]
}
Table departamentos {
  departamento_id SERIAL [pk]
  nombre_departamento VARCHAR(100)
  ubicacion VARCHAR(100)
}
Table proyectos {
  proyecto_id SERIAL [pk]
  nombre_proyecto VARCHAR(100)
  fecha_inicio DATE
  fecha_fin DATE
  presupuesto NUMERIC(15, 2)
}
Table asignaciones {
  asignacion_id SERIAL [pk]
  empleado_id INT [ref: > empleados.empleado_id]
  proyecto_id INT [ref: > proyectos.proyecto_id]
  horas_asignadas INT
}