Crear tablas

In [10]:
DROP TABLE IF EXISTS  detalle_ventas;
DROP TABLE IF EXISTS  ventas;
DROP TABLE IF EXISTS  clientes;
DROP TABLE IF EXISTS  productos;

In [11]:
-- Crear tablas
CREATE TABLE clientes (
    cliente_id SERIAL PRIMARY KEY,
    nombre VARCHAR(50),
    apellido VARCHAR(50),
    email VARCHAR(100) UNIQUE,
    telefono VARCHAR(15)
);

CREATE TABLE productos (
    producto_id SERIAL PRIMARY KEY,
    nombre_producto VARCHAR(50),
    categoria VARCHAR(30),
    precio NUMERIC(10, 2)
);

CREATE TABLE ventas (
    venta_id SERIAL PRIMARY KEY,
    cliente_id INT REFERENCES clientes(cliente_id),
    fecha DATE,
    total NUMERIC(10, 2)
);

CREATE TABLE detalle_ventas (
    detalle_id SERIAL PRIMARY KEY,
    venta_id INT REFERENCES ventas(venta_id),
    producto_id INT REFERENCES productos(producto_id),
    cantidad INT,
    subtotal NUMERIC(10, 2)
);

Popular tablas

In [12]:
-- Fijar semilla aleatoria
SELECT setseed(0.5);

-- Insertar clientes
INSERT INTO clientes (nombre, apellido, email, telefono)
SELECT 
    'Cliente_' || id AS nombre,
    'Apellido_' || id AS apellido,
    'cliente' || id || '@example.com' AS email,
    '123-456-' || LPAD(id::TEXT, 4, '0') AS telefono
FROM generate_series(1, 100) AS id;

-- Insertar productos
INSERT INTO productos (nombre_producto, categoria, precio)
SELECT 
    'Producto_' || id AS nombre_producto,
    CASE (id % 4) + 1
        WHEN 1 THEN 'Lácteos'
        WHEN 2 THEN 'Carnicería'
        WHEN 3 THEN 'Frutas'
        WHEN 4 THEN 'Panadería'
    END AS categoria,
    ROUND((RANDOM() * 20 + 1)::NUMERIC, 2) AS precio
FROM generate_series(1, 100) AS id;

-- Insertar ventas
-- Siempre asignar un cliente para evitar ventas sin cliente
INSERT INTO ventas (cliente_id, fecha, total)
SELECT 
    c.cliente_id,
    CURRENT_DATE - (RANDOM() * 30)::INT AS fecha,
    ROUND((RANDOM() * 200 + 10)::NUMERIC, 2) AS total
FROM generate_series(1, 100) AS g
CROSS JOIN (
    SELECT cliente_id 
    FROM clientes
) c
ORDER BY RANDOM()
LIMIT 100;

setseed
""