Contenido Detallado con Ejemplos

1. SELECT Básico
Consulta: Recuperar todos los clientes.

In [2]:

SELECT * 
FROM clientes;

2. WHERE: Filtrado de Datos

Consulta: Recuperar ventas mayores a 15.

In [ ]:
SELECT * 
FROM ventas 
WHERE total > 15;

Consulta: Filtrar productos de la categoría ‘Lácteos’.

In [ ]:
SELECT * 
FROM productos 
WHERE categoria = 'Lácteos';

3. JOINs

INNER JOIN: Clientes y sus ventas.

In [ ]:
SELECT c.nombre, c.apellido, v.fecha, v.total
FROM clientes c
INNER JOIN ventas v ON c.cliente_id = v.cliente_id;

LEFT JOIN: Mostrar todas las ventas y productos.

In [ ]:
SELECT v.venta_id, p.nombre_producto, dv.cantidad, dv.subtotal
FROM ventas v
LEFT JOIN detalle_ventas dv ON v.venta_id = dv.venta_id
LEFT JOIN productos p ON dv.producto_id = p.producto_id;

4. GROUP BY y Funciones Agregadas

Consulta: Total de ventas por cliente.

In [ ]:
SELECT c.nombre, c.apellido, SUM(v.total) AS total_compras
FROM clientes c
JOIN ventas v ON c.cliente_id = v.cliente_id
GROUP BY c.nombre, c.apellido;

Consulta: Promedio de precios por categoría.

In [ ]:
SELECT categoria, AVG(precio) AS precio_promedio
FROM productos
GROUP BY categoria;

5. Comandos Básicos Adicionales

INSERT: Agregar un nuevo cliente.

In [ ]:
INSERT INTO clientes (nombre, apellido, email, telefono) 
VALUES ('Ana', 'Rodríguez', 'arodriguez@example.com', '555-555-5555');

UPDATE: Actualizar precio de un producto.

In [ ]:
UPDATE productos 
SET precio = 1.50 
WHERE nombre_producto = 'Leche';

DELETE: Eliminar un cliente específico.

In [ ]:
DELETE FROM clientes 
WHERE cliente_id = 5;

GRANT: Otorgar permisos de lectura a un usuario.

In [ ]:
GRANT SELECT ON clientes TO usuario_lectura;