Ejercicios de SQL para Clase


Ejercicios de SELECT y WHERE
	1.	Recuperar todos los registros de la tabla clientes.

In [ ]:
SELECT * FROM clientes;


	2.	Mostrar solo el nombre, apellido y email de todos los clientes.

In [ ]:
SELECT nombre, apellido, email 
FROM clientes;

	3.	Listar los productos de la categoría ‘Lácteos’.

In [ ]:
SELECT * 
FROM productos 
WHERE categoria = 'Lácteos';


	4.	Mostrar los productos cuyo precio sea mayor a 10.

In [ ]:
SELECT * 
FROM productos 
WHERE precio > 10;


	5.	Obtener todas las ventas realizadas en los últimos 7 días.

In [ ]:
SELECT * 
FROM ventas 
WHERE fecha >= CURRENT_DATE - 7;

	6.	Listar los clientes cuyo email contenga ‘example’.

In [ ]:
SELECT * 
FROM clientes 
WHERE email LIKE '%example%';


	7.	Mostrar las ventas cuyo total sea entre 50 y 100.

In [ ]:
SELECT * 
FROM ventas 
WHERE total BETWEEN 50 AND 100;

Ejercicios con JOIN

8.	Obtener los nombres de los clientes y la fecha de las ventas realizadas.

In [ ]:
SELECT c.nombre, c.apellido, v.fecha, v.total
FROM clientes c
JOIN ventas v ON c.cliente_id = v.cliente_id;

	9.	Listar los productos vendidos con su cantidad y subtotal en cada venta.

In [ ]:
SELECT p.nombre_producto, dv.cantidad, dv.subtotal
FROM detalle_ventas dv
JOIN productos p ON dv.producto_id = p.producto_id;


	10.	Mostrar todas las ventas junto con la información del cliente que las realizó.

In [ ]:
SELECT v.venta_id, c.nombre, c.apellido, v.fecha, v.total
FROM ventas v
JOIN clientes c ON v.cliente_id = c.cliente_id;


	11.	Listar los productos vendidos junto con las ventas correspondientes.

In [ ]:
SELECT v.venta_id, p.nombre_producto, dv.cantidad, dv.subtotal
FROM ventas v
JOIN detalle_ventas dv ON v.venta_id = dv.venta_id
JOIN productos p ON dv.producto_id = p.producto_id;

	12.	Mostrar las ventas y los productos que no tienen detalles asociados (LEFT JOIN).

In [ ]:
SELECT v.venta_id, p.nombre_producto, dv.cantidad
FROM ventas v
LEFT JOIN detalle_ventas dv ON v.venta_id = dv.venta_id
LEFT JOIN productos p ON dv.producto_id = p.producto_id;

Ejercicios con GROUP BY y Funciones de Agregación
	
	13.	Contar cuántos clientes hay en la tabla.

In [ ]:
SELECT COUNT(*) AS total_clientes
FROM clientes;


	14.	Calcular el total de ventas realizadas en el supermercado.

In [ ]:
SELECT SUM(total) AS total_ventas
FROM ventas;


	15.	Mostrar la cantidad de productos por cada categoría.

In [ ]:
SELECT categoria, COUNT(*) AS cantidad_productos
FROM productos
GROUP BY categoria;


	16.	Obtener el cliente que realizó la mayor cantidad de ventas.

In [ ]:
SELECT c.nombre, c.apellido, COUNT(v.venta_id) AS cantidad_ventas
FROM clientes c
JOIN ventas v ON c.cliente_id = v.cliente_id
GROUP BY c.nombre, c.apellido
ORDER BY cantidad_ventas DESC
LIMIT 1;

	17.	Mostrar el promedio de precios por cada categoría de productos.

In [ ]:
SELECT categoria, AVG(precio) AS precio_promedio
FROM productos
GROUP BY categoria;


	18.	Calcular el total de ventas por día.

In [ ]:
SELECT fecha, SUM(total) AS total_diario
FROM ventas
GROUP BY fecha
ORDER BY fecha;


	19.	Mostrar los productos más vendidos en cantidad total.

In [ ]:
SELECT p.nombre_producto, SUM(dv.cantidad) AS cantidad_total
FROM productos p
JOIN detalle_ventas dv ON p.producto_id = dv.producto_id
GROUP BY p.nombre_producto
ORDER BY cantidad_total DESC
LIMIT 5;


	20.	Calcular el total de ventas por cliente.

In [ ]:
SELECT c.nombre, c.apellido, SUM(v.total) AS total_compras
FROM clientes c
JOIN ventas v ON c.cliente_id = v.cliente_id
GROUP BY c.nombre, c.apellido
ORDER BY total_compras DESC;