Ejercicios SQL de Mayor Complejidad

Estos ejercicios requieren combinar conceptos avanzados como subconsultas, joins múltiples, funciones de agregación avanzadas y cláusulas anidadas para resolver problemas más complejos.


1. Encontrar los 3 clientes que más dinero han gastado en el supermercado

Objetivo: Obtener los clientes con el mayor total acumulado de compras, ordenado de mayor a menor, mostrando únicamente los 3 primeros registros.

In [ ]:
SELECT c.cliente_id, c.nombre, c.apellido, SUM(v.total) AS total_gastado
FROM clientes c
JOIN ventas v ON c.cliente_id = v.cliente_id
GROUP BY c.cliente_id, c.nombre, c.apellido
ORDER BY total_gastado DESC
LIMIT 3;

2. Identificar los productos más vendidos en cantidad y en valor total

Objetivo: Mostrar los productos más vendidos considerando dos criterios:
	1.	Cantidad total vendida (sumar cantidad).
	2.	Valor total generado (sumar subtotal).

In [ ]:
SELECT p.producto_id, p.nombre_producto, 
       SUM(dv.cantidad) AS cantidad_total, 
       SUM(dv.subtotal) AS valor_total
FROM productos p
JOIN detalle_ventas dv ON p.producto_id = dv.producto_id
GROUP BY p.producto_id, p.nombre_producto
ORDER BY cantidad_total DESC, valor_total DESC;

3. Obtener los clientes que no han realizado ninguna compra

Objetivo: Listar los clientes que no tienen ventas registradas en la tabla ventas. Usar un LEFT JOIN y filtrar con IS NULL.

In [ ]:
SELECT c.cliente_id, c.nombre, c.apellido
FROM clientes c
LEFT JOIN ventas v ON c.cliente_id = v.cliente_id
WHERE v.venta_id IS NULL;

4. Calcular el total de ventas por cada día, incluyendo solo los días con más de $500 en ventas

Objetivo: Obtener un resumen diario de las ventas, filtrando únicamente los días en los que el total acumulado de ventas supera los 500.

In [ ]:
SELECT fecha, SUM(total) AS total_diario
FROM ventas
GROUP BY fecha
HAVING SUM(total) > 500
ORDER BY total_diario DESC;

5. Encontrar los productos que nunca han sido vendidos

Objetivo: Mostrar todos los productos que no aparecen en ninguna venta registrada en la tabla detalle_ventas.

In [ ]:
SELECT p.producto_id, p.nombre_producto, p.categoria
FROM productos p
LEFT JOIN detalle_ventas dv ON p.producto_id = dv.producto_id
WHERE dv.detalle_id IS NULL;